.container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 90%;
  /* height: 65px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  display: flex;
  align-items: center;
}
h3 {
  color: #e8cf7f;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  /* margin: 15px; */
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
p.title {
  color: darkgoldenrod;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
p.description {
  color: rgb(149, 145, 134);
  font-size: 14px;
  padding-left: 5px;
  margin: 5px;
  display: flex;
  justify-content: left;
  align-items: left;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}
.container img {
  display: flex;
  justify-content: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 60px;
  height: 60px;
}
.general {
  flex-direction: column;
  align-items: left;
  background-color: #16181b;
  width: 80%;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  display: flex;
  height: 100%;
  /* align-content: center; */
}
/* b {
  color: #ffffff;
  background-color: darkgoldenrod;
  padding: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
  justify-content: left;
  display: flex;
  align-items: center;
  align-content: center;
} */

.number {
  background-color: #1b202b;
  display: flex;
  width: 30px;
  justify-content: center;
}
.number b {
  font-size: 20px;
}
